# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# Google
#320061439465-j37d4lkauk45tlvmfe1jthv1oqe706o1.apps.googleusercontent.com  # CLIENT_ID
#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  # CLIENT_SECRET